aside{
  height: 100%;
  width: 175px;
  background-color: $color-aside;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
  transition: $transition;

  .aside-header{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;

    h1{
      @media(max-width: 767px) {
        display: none;
      }
    }

    .hamburger{
      display: none;
      cursor: pointer;

      &:hover{
        color: $color-orange-dark;
      }

      @media(max-width: 767px) {
        display: block;
        order: 0;
      }
    }

  }

  .navigation-manager{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 25px;
    transition: $transition;

    @media(max-width: 767px) {
      display: none;
    }

    &__photo{
      position: relative;

      .status-dot{
        @include dot(12px, 0, 0);
        background-color: $color-green-dark;
      }
    }

    &__status{
      display: flex;
      align-items: center;
      margin-top: 15px;

      a{
        margin-left: 10px;
      }
    }
  }

  @media(max-width: 767px) {
    width: 45px;
  }
}


.show{
  @media(max-width: 767px) {
    width: 175px;
  }

  .aside-header{
    h1{
      @media(max-width: 767px) {
        opacity: 1;
        order: 0;
      }
    }

    .hamburger{
      @media(max-width: 767px) {
        order: 1;
        margin-left: 0;
      }
    }
  }

  .navigation-manager{
    @media(max-width: 767px) {
      display: flex;
    }
  }
}
