
.pages{
  padding: 60px 0 0 175px;

  @media(max-width: 767px) {
    padding: 0 0 40px 45px;
  }

  section{
    display: none;
  }

  > .active{
    display: block;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  &:last-child{
    padding-bottom: 20px;
  }
}

.wrapper{
  margin: 0 auto;

  > .row{
    padding-top: 0;

    &:last-child{
      padding-bottom: 0;
    }
  }
}

.margin-both{
  margin: 40px 0 40px 0;
}

@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
