/* Colors */
$color-orange-light: #FFA200;
$color-orange-dark: #F58220;

$color-green-light: #96CC9B;
$color-green-medium: #74B67A;
$color-green-dark: #04AE00;

$color-red-light: #EC7171;
$color-red-medium: #DE5252;
$color-red-dark: #FF0000;

$color-grey-light: #E3E3E3;
$color-grey-medium: #BABABA;
$color-grey-dark: #979797;

$color-light: #F5F5F2;
$color-dark: #333333;
