.input{
  @extend .font-text;

  outline: none;
  padding: 10px;
  border: 1px solid $color-gray-medium;
  border-radius: 5px;
  position: relative;
  width: 300px;

  &:invalid{
    border: 1px solid $color-red-dark;
  }

  &:hover{
    border: 1px solid $color-gray-dark;
    cursor: pointer;
  }
}

.input-label{
  @extend .font-header-section;
  margin: auto 0;
  min-width: 150px;
}
