.input{
  @extend .font-text;

  outline: none;
  padding: 10px;
  border: 1px solid $color-gray-light;
  border-radius: 5px;
  position: relative;
  width: 300px;

  &:invalid{
    border: 1px solid $color-red-dark;
  }

  &:hover{
    border: 1px solid $color-gray-dark;
    cursor: pointer;
  }

  @media(max-width: 767px) {
    width: 250px;
  }
}

.input-data-range{
  border: 1px solid transparent;
  height: 100%;
  background-color: $color-light;
  padding-right: 25px;
  width: auto;

  @media(max-width: 572px) {
    border: 1px solid $color-gray-medium;
    margin-bottom: 10px;
    padding-right: 0;
  }
}

.input-label{
  @extend .font-header-section;
  margin: auto 0;
  min-width: 150px;

  @media(max-width: 767px) {
    margin-bottom: 5px;
  }
}

input[type="date"]{
  min-width: 180px;

  @media(max-width: 572px) {
    text-align: center;
  }
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
