.list{
  list-style-type: none;

  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-gray-medium;
  }
}

.list-2-elems{
  li .box{
    padding: 15px 0 5px 0;
  }
}

.list-3-elems{
  li{
    min-height: 50px;

    &:first-child{
      border-top: 1px solid $color-gray-medium;
    }

    .box{
      padding: 10px;
    }

    .box-left{
      width: 40%;
    }

    .box-center{
      width: 40%;
    }

    .box-right{
      width: 20%;
      text-align: right;
    }

    i{
      margin-right: 15px;
      display: none;

      @media(max-width: 767px) {
        display: inline-block;
        margin-right: 5px;
      }
    }

    &:hover{
      background-color: $color-gray-light;

      i{
        display: inline-block;

        &:hover{
          cursor: pointer;
          color: $color-orange-light;
        }
      }
    }
  }
}

.list-horizontal{
  list-style-type: none;
  display: flex;

  li{
    padding: 10px 15px;

    &.active{
      background-color: $color-gray-light;
    }

    &:hover{
      background-color: $color-gray-light;
      cursor: pointer;
    }

    @media(max-width: 767px) {
      padding: 3px 6px;
    }
  }
}

.navigation-list{
  list-style-type: none;
  padding-bottom: 25px;
  border-bottom: 1px solid $color-dark;


  li{
    padding: 10px 15px;
    transition: all .3s;
    white-space: nowrap;

    span{
      margin-left: 18px;
    }

    &:hover{
      border-left: 4px solid $color-orange-dark;
      cursor: pointer;
      color: $color-light;
    }
  }

  .active{
    border-left: 4px solid $color-orange-dark;
    color: $color-light;
  }
}
