.list{
  list-style-type: none;

  li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray-medium;
  }
}

.list-2-elems{
  li .box{
    padding: 15px 0 5px 0;
  }
}

.list-3-elems{
  li{
    &:first-child{
      border-top: 1px solid $color-gray-medium;
    }

    .box{
      padding: 10px;
    }

    .box-left{
      width: 40%;
    }

    .box-center{
      width: 50%;
    }

    .box-right{
      width: 10%;
      text-align: right;
    }

    i{
      display: none;
    }

    &:hover{
      background-color: $color-gray-light;

      i{
        display: inline-block;

        &:hover{
          color: $color-orange-light;
        }
      }
    }
  }
}
