aside{
  width: 175px;
  height: 100vh;
  background-color: $color-aside;
  position: fixed;
  top: 0;
  z-index: 100;

  .aside-header{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .hamburger{
      cursor: pointer;

      &:hover{
        color: $color-orange-dark;
      }
    }
  }

  .navigation-manager{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 25px;

    &__status{
      display: flex;
      align-items: center;
      margin-top: 15px;

      a{
        margin-left: 10px;
      }
    }

    &__photo{
      position: relative;

      .status-dot{
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        right: 0;
        top: 0;
        background-color: $color-green-dark;
      }
    }
  }
}


header{
  width: calc(100vw - 175px);
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $color-light;
}

.container{
  width: 100%;
  margin: 20px;
  padding: 10px;
  background-color: $color-light;
}


@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
