@mixin after {
  position: absolute;
  content: "";
  display: block;
}

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@mixin center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin dot($size, $top, $right){
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  right: $right;
  top: $top;
}
