h1, h2, h3{
  margin: 0;
  padding: 0;
}

.font{
  &-title{
    font-size: 22px;
    color: $color-gray-light;
  }

  &-header{
    &-page{
      font-size: $size-basic;
      font-weight: 400;
      color: $color-gray-medium;
      text-transform: uppercase;
    }

    &-section{
      font-size: $size-basic;
      font-weight: 700;
      color: $color-gray-dark;
      margin: 0;
    }
  }

  &-text{
    font-size: $size-medium;
    font-weight: 300;
    color: $color-dark;

    &-large{
      font-size: $size-basic;
    }
  }

  &-nav{
    font-size: $size-medium;
    font-weight: 300;
    color: $color-gray-medium;
  }

  &-manager-title{
    font-size: $size-medium;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-gray-medium;
  }
}

.padding-left-10{
  padding-left: 10px;
}
