.font{
  &-header{
    &-page{
      font-size: $size-basic;
      font-weight: 400;
      color: $color-gray-medium;
      text-transform: uppercase;
    }

    &-section{
      font-size: $size-basic;
      font-weight: 700;
      color: $color-gray-dark;
      margin: 0;
    }
  }

  &-text{
    font-size: $size-medium;
    font-weight: 300;
    color: $color-dark;

    &-large{
      font-size: $size-basic;
    }
  }
}

.padding-left-10{
  padding-left: 10px;
}
