/* Colors */
$color-orange-light: #FFA200;
$color-orange-dark: #F58220;

$color-green-light: #96CC9B;
$color-green-medium: #74B67A;
$color-green-dark: #04AE00;

$color-red-light: #EC7171;
$color-red-medium: #DE5252;
$color-red-dark: #FF0000;

$color-gray-light: #E3E3E3;
$color-gray-medium: #BABABA;
$color-gray-dark: #979797;

$color-light: #F5F5F2;
$color-dark: #333333;

$color-link: #56819f;
/* Sizes */
$size-basic: 16px;
$size-medium: 14px;
$size-small: 12px;

$size-link-small: 13px;

/* Fonts */
$font-main: 'Roboto', sans-serif;
